@use './styles/tokens' as tt;
@use './styles/fonts';

@use './styles/layout';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

[hidden] {
  display: none !important;
}

img,
svg {
  max-width: 100%;
}
